<?xml version="1.0" encoding="utf-8"?>

<!-- Authors: Violet Armendariz, Mary Prouty-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.otteramazement.clean_water">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name">
            android:theme="@android:style/Full_Background"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name">
            android:theme="@android:style/Full_Background"
            <intent-filter>
                <action android:name="com.example.otteramazement.clean_water.WELCOMEACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            android:theme="@android:style/Full_Background"
            <intent-filter>
                <action android:name="com.example.otteramazement.clean_water.LOGINACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegisterActivity"
            android:label="Clean-Water">
            android:theme="@android:style/Full_Background"
            <intent-filter>
                <action android:name="com.example.otteramazement.clean_water.REGISTERACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AppActivity"
            android:label="Clean-Water">
            android:theme="@android:style/Full_Background"
            <intent-filter>
                <action android:name="com.example.otteramazement.clean_water.APPACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ProfileActivity"
            android:label="Clean-Water">
            android:theme="@android:style/Full_Background"
            <intent-filter>
                <action android:name="com.example.otteramazement.clean_water.PROFILEACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WaterReportActivity"
            android:label="Clean-Water">
            android:theme="@android:style/Full_Background"
            <intent-filter>
                <action android:name="com.example.otteramazement.clean_water.WATERREPORTACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SourceReportActivity"
            android:label="Clean-Water">
            android:theme="@android:style/Full_Background"
            <intent-filter>
                <action android:name="com.example.otteramazement.clean_water.SOURCEREPORTACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>